.results{
    margin:10px;
}
.bookmark-form{
    margin-left: 5px;
}
.add-bookmark-form{
    margin-left: 5px;
}
.search-bookmark-form{
    margin-left: 5px; 
    margin-top: 20px;
    margin-bottom: 20px;

}